@import url(https://fonts.bunny.net/css?family=alexandria:400);
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cops';
  src: url('../../resources/js/fonts/Cops.ttf') format('truetype'); /* Adjust path to match your project structure */
}

[x-cloak] {
    display: none;
}

.transition-transform {
    transition: transform 0.3s ease-in-out;
  }
  
  .transform {
    transform: translateX(0);
  }
  
  .-translate-x-full {
    transform: translateX(-100%);
  }